.slider .form-control {
	width: 75%;
}
.mediacontent, .home { 
	.help-block {
		display: inline-block;
}
	input {
			display: inline-block;
	}
	.form-control {
		display: block;
	}
	.inline {
		display: inline-block;
	}
	label {
		display: block;		
	}
}