html {
	position: relative;
	min-height: 100%;
	color: #6c6c6c;
	font: 12px/18px SegoeUI, "Segoe UI Light", Arial, Helvetica, sans-serif;
	background: #fff;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
  margin-bottom: 60px;
}