.content .heading {
	margin-top: 0;
}
.darken {
	background-color: #f1f1f1;
}
.inner {
	box-shadow: none;
	border: 0;
	border-bottom: 1px solid #737373;
}
.outer {
	box-shadow: none;
	border: 0;	
}
textarea {
	resize: none;
}
.iconpicker-popover.popover {
	max-width: 100%;
    width: auto;
}
.colorpicker {
	height: 14px;
    width: 24px;
    padding: 0;
}
