 .pages {
 .heading {
	margin: 0;
}
}
.pages {
.page-hover {
	margin: 0;
	padding: 0;
	box-shadow: none;
	line-height: 1;
	font-size: 12px;

	li:first-of-type a:first-child {
		display: none;
	}
	li {
		display: inline-block;
	}
}
}